html{
    font-size: 62.5%;
}
.container-head{
    width: 1140px;
    margin: 0 auto;
    max-width:(100%-48px);
    background-image: url("./assets/icon/thelastofus.jpg" );
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 0 auto; 
    position: relative;

}
.blur-layer{
    position: absolute;
    width: 1139px;
    height: 20px;
    bottom: -10px;
    left: 0px;
    filter: blur(3px);
background-color:black;}
.container{
    width: 1140px;
    margin: 0 auto;
    max-width:(100%-48px);
    background-color: black;
}
body{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #fff;
    /* background-image: url("./assets/icon/hinh-nen-mau-den_112617283.jpg"); */
  background-color: #000000;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 75px;
    margin-bottom: 218px;
}
a{
    text-decoration: none;
    color: #fff;
    text-decoration: bold;
}
.link{
    display: flex;
    gap: 45px;

}
.icon{
    display: flex;
    gap:23px;
}
.logo{
    display: flex;
    align-items: baseline;
}
.logo .logo-img{
    margin-right: 5px;

}
.logo .logo-text{
    font-size: 1.2rem;
    
}
.film{
    display: flex;
    padding: 64px 75px;
    justify-content: space-between;
    
}

.film .series{
    display: inline-block;
font-size: 1.2rem;
font-weight: 500;
line-height: 1.66; /* 166.667% */
padding: 4px 16px;
border-radius: 16px;
background-color: black;
margin-bottom: 10px;
margin-top: 15px;

}
.film .name{
font-size: 3.2rem;
font-weight: 700;
line-height: 1.25; /* 125% */
letter-spacing: 0.16px;
margin-bottom: 8px;
}
.film .about{
    color: #9CA4AB;
    font-size: 1.4rem;
    margin-bottom: 24px;
}
.film .button{
    display: flex;
    gap: 24px;
}
.film .button .watching{
    display: flex;
    padding: 12px 24px;
    background-color:  #00925D;
    align-items: center;
    justify-content: center;
    border-radius: 10px;


    
}
.film .button .icon{
    margin-right: 5px;
}
.film .button .watch-list{
    display: flex;
    padding: 12px 24px;
    border-radius: 10px;
    border: 1px solid  #FFF;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.content-right{
    display: flex;
    align-items: end;
    gap: 24px;
    justify-content: space-between;
}

.item{
    display: flex;
    gap:10px;
    align-items: center;
    white-space: pre;
    padding: 12px 24px;
    border-radius: 10px;
border: 1px solid  #28262D;
background: #0D0C0F;
}
.film-info{
    padding: 35px 75px;
   
}
.cast{
    position: relative;
    row-gap: 100px;
}
.five-cast{
   
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(5,1fr);
    transition: 1s;
  
   
}
.cast-list{
    display: flex;
    overflow: hidden;
}
.film-info .heading{
    color: #fff;
font-size: 1.8rem;
font-weight: 700;
line-height: 1.44px;
margin-bottom: 16px;

}
.film-info .story-info{
  color:  #9CA4AB;

font-weight: 500;
line-height: 1.5;
letter-spacing: 0.08px;
margin-bottom: 24px;
}
.cast-item{
    display: flex;


}
.cast-item .avt{
    margin-right: 12px;
}
.cast-item .real-name{
   
font-weight: 600;
line-height: 1.5; 
letter-spacing: 0.08px;
}
.cast-item .char-name{
    font-size: 1.2rem;
font-weight: 500;
line-height: 1.66;
letter-spacing: 0.06px;
color: #9CA4AB;
}
.cast-item .name{
    display: flex;
    flex-direction: column;
    white-space: pre;
}
.cast-list svg.arrow{
position: absolute;
padding: 9px;
color: #FFF;
border-radius: 50%;
background-color: #28262D;
top: 23px;
 right: -42px;
 display: inline-block;
    
}
.cast .heading{
    margin-bottom: 24px;
}
.trans-ahead{
   transform: translateX(-100%);
   grid-template-columns: repeat(5,1fr);
   gap:30px;
   margin-right: 50px;
 
}
 .click-back{

   display: flex;
   justify-content: center;
   align-items: center;
    padding: 9px;
    border-radius: 50%;
    background-color: #28262D;
}
.cast-list .click-back{
    position: absolute;
    top: 29px;
    left: -43px;
}
.arrow-back{
    
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    
   transform: rotate(135deg);
   -webkit-transform: rotate(135deg);
   padding: 5px;
   border-radius: 2px;  
  
}
.options{
    
    padding-left: 75px;
    padding-right: 75px;
}
 .choice-list{
   display: flex;
   font-weight: 600;
line-height: 1.5; /* 150% */    
letter-spacing: 0.08px;
gap:24px;
padding-bottom: 30px;
 }
 .options .heading{
    position: relative;
    font-size: 2.4rem;

font-weight: 700;
line-height: 1.33; 
letter-spacing: 0.12px;
margin-bottom: 24px;

 }
 .options .episode .title{
    font-size: 2.4rem;

    font-weight: 700;
    line-height: 1.33; 
    letter-spacing: 0.12px; 
 }
 .options .episode .info{
    color:  #78828A;

    font-size: 1.2rem;
   
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.06px;
 }
 
.episode-list{
  display: flex;
  overflow: hidden; 
 
}
.for-episode{
    display: grid;
    grid-template-columns: repeat(4,1fr);
gap: 10px;
transition: 0.5s;
    
}

.episode-list img{
    object-fit: cover;
    border-radius: 16px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;


}
.episode{
    position: relative;
}
.espisode-desc
{
    position: absolute;
    top: 115px;
    left: 17px;
}
  .options .heading .click-back{
    position: absolute;
    top: -7px;
    right: -11px;
    
}
 .options .heading .click-ahead{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
padding: 9px;
border-radius: 50%;
top: -7px;
right: -52px;
background-color: #28262D;
}

.arrow-ahead{
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
   padding: 5px;
   border-radius: 2px;  
}